@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root {
    --poppins:"Poppins";
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }
body{
    background-color: var(--body-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
}


main{
    display: flex;
    flex-direction: column;
    font-family: var(--poppins);
    width: 250px;
  
    color: #BB99DD;
 }
.main__img-top{
    margin: auto;
    margin-bottom: 0.7rem;
}
.main__img-top img{
    width: 180px;
    border-radius: 6rem;
    border: 2px solid var(--purple);
}
.main__img-top figcaption{
    text-align: center;
}
.main__buttons{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100% ;
}
.main__button{
    margin-bottom: 0.8rem;
    background-color: transparent;
    padding: 0.5rem;
    color: var(--purple);
    border: 2px solid var(--purple);
    cursor: pointer;

}

.main__icons{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:768px) {
    
}